<div class="shopping-container">
    <div class="top-panel">

        <div>
            <!-- <span class="menu">Item-1 </span> -->
            <p-megaMenu [model]="items"><img src="/assets/images/shopping-cart.svg" class="cart-img">
                <img src="/assets/images/login.svg" class="lock-img" (click)="moveToLogin()"></p-megaMenu>

            <!-- <span class="menu">Item-2 </span>
            <span class="menu">Item-3 </span>
            <span class="menu">Item-4 </span> -->
        </div>
    </div>
    <div class="main-panel">
        <div class="img-set">


        </div>
    </div>


</div>