<div class="kurti-container">
    <div><img class="kurti-shopping" src="/assets/images/kurti1.jpg">
        <div class="add-btn"></div>
    </div>
    <div><img class="kurti-shopping" src="/assets/images/kurti12.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti13.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti14.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti15.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti16.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti17.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti18.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti19.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti20.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti11.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti2.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti3.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti4.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti5.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti6.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti7.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti8.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti9.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti10.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti21.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti22.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti23.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti24.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti25.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti26.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti29.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti28.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti27.jpg"></div>
    <div><img class="kurti-shopping" src="/assets/images/kurti30.jpg"></div>

</div>